body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    
}
h1 {
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 20px 0;
}

.board div {
    background-color: #eee;
    text-align: center;
    line-height: 80px;
    font-size: 36px;
    cursor: pointer;
}

.message {
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}